.text-input-container {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--tds-card-color);
  border-radius: 9999px;
}

.text-input {
  border-radius: 9999px;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 0.15),
    inset 0 1px 2px -1px rgb(0 0 0 / 0.15), 0 2px 2px rgba(255, 255, 255, 0.4);
  background-color: var(--tds-surface-color);
  color: var(--tds-on-bg);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.text-input input {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Nunito", sans-serif;
  height: min-content;
  font-size: 0.875rem;
  font-weight: 500;
}

.text-input .append-ref {
  position: absolute;
  right: 0;
  z-index: 100;
  height: 100%;
  background: transparent;
}

.text-input .append-ref .button {
  height: 100%;
}

.text-input .prepend-ref {
  position: absolute;
  left: 0;
  z-index: 100;
  height: 100%;
  background: transparent;
}

.text-input .prepend-ref .button {
  height: 100%;
}
